
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Legal Entrepreneurship Cell</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/theme-gumboot.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    </head>
    <body>

				
		<div class="nav-container">
		</div>
		
		<div class="main-container">
		<section class="features features-5 bg-dark">
				<div class="container">
					<div class="row v-align-children">
				
						<div class="col-sm-6 col-md-5 feature">
							<h4>Legal Entrepreneurship Cell</h4>
							<p>Student-Initiative of the <br>
							Jindal Centre for Social Innovation & Entrepreneurship
							</p>
						
								     <!-- newsletter form start -->
                         <form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=42950bbb79" method="post" id="mc-embedded-subscribe-form" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                         <input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
						<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<div class="clear">
						<div class="spacer-10"></div>
						<input type="submit" value="Sign up for legal updates »" name="subscribe" id="mc-embedded-subscribe" class="button">
		</div>
	</form>
</div>

<!--End mc_embed_signup-->
					
						<div class="col-sm-6 col-md-offset-1 text-center feature">
							<%= image_tag('leclogo.png', alt: 'Logo') %>
						</div>
		
					</div>
				</div>
			</section>
			
		<section class="cta cta-8">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h4>Connect with the Legal Entrepreneurship Cell</h4>
							<a class="btn btn-filled" href="https://jsie.typeform.com/to/eD0w5X" target="_blank">Contact Us</a>
						</div>
					</div>
				</div>
			</section>
		</div>
		</div>
		
				
		<script src="js/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/placeholders.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>

				

